<!doctype html>
<head>
    <title>List of magazines</title>
</head>

<body>
    <h1>List of magazines</h1>

    <ul>
    {{#each magazines}}
        <li>{{this.title}}</li>
    {{/each}}
    </ul>
</body>